# For Loops

In [4]:
num = 4
for i in range (0, 40, 2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38

Table

In [8]:

num = 4
for i in range (num, num*10 + 1, num):
    print(i)

4
8
12
16
20
24
28
32
36
40

Decending order

In [12]:
num = 4
for i in range (10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
# Print 100 even numbers
# Print 100 odd numbers

# Print 100 even numbers

In [17]:
num = 0
for i in range (2,101,2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

# Print 100 odd numbers

In [20]:
num = 0
for i in range (1,101,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

# Numbers divisible by both 5 and 3

In [66]:
counter= 0
for i in range (1,101):
    if i % 3 == 0 and i % 5 == 0:
        counter += 1
        print ('-', i, counter)

- 15 1
- 30 2
- 45 3
- 60 4
- 75 5
- 90 6

# First 10 Numbers divisible by 7, 5 and 3

In [81]:
counter= 0
for i in range (1,10001):
    if i % 3 == 0 and i % 5 == 0 and i % 7 == 0:
        counter+=1
        print(f"{counter}. {i} is divisible by 3, 5 and 7")
        if counter == 10:
            break

1. 105 is divisible by 3, 5 and 7
2. 210 is divisible by 3, 5 and 7
3. 315 is divisible by 3, 5 and 7
4. 420 is divisible by 3, 5 and 7
5. 525 is divisible by 3, 5 and 7
6. 630 is divisible by 3, 5 and 7
7. 735 is divisible by 3, 5 and 7
8. 840 is divisible by 3, 5 and 7
9. 945 is divisible by 3, 5 and 7
10. 1050 is divisible by 3, 5 and 7

# Pattern

In [103]:
#n= int(input('Enter the size: '))
n = 10
print ('*'*n)
for i in range(n-2):
    print('*' + ' ' * (n-2)+ '*')

print('*'*n)

**********
*        *
*        *
*        *
*        *
*        *
*        *
*        *
*        *
**********

# find first 100 prime numbers

In [123]:
"""
counter = 1
for num in range (2,100000):
    is_prime = True
    for i in range(2,num):
        if num % i==0:
            is_prime= False
            break
    if is_prime:
        print(num)
        counter += 1 
        if counter == 100:
            break
"""            

counter = 0
for num in range(2, 100000):  # Start from 2 because 1 is not prime
    is_prime = True
    for i in range(2, int(num ** 0.5) + 1):  # Optimization: check till âˆšnum
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(num)
        counter += 1
        if counter == 100:
            break

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541