In [1]:
lst = [1, 2, 3, 4 ,5 ,6 ,7 ,8 ,9]
print(lst[2])

3

# 2-D List

In [13]:
lst = [[1, 2, 3], [4 ,5 ,6] ,[7 ,8 ,9]]
print(lst[0][1])

2

In [77]:
lst = [[1, 2, 3], 
       [4 ,5 ,6],
       [7 ,8 ,9,10]]


for i in range(len(lst)):
    s= 0
    for j in range(len(lst[i])):
       
        s += lst[i][j] 
    print(s)

6
15
34

# sum of digonal element

In [74]:
lst = [[1, 2, 3, 4], 
       [4 ,5 ,6, 5],
       [7 ,8 ,9, 3],
       [7 ,4 ,3, 5]]
s=0

for i in range(len(lst)):
    for j  in range (len(lst)):
        if i == j:
            print(lst[i][j])
            s +=lst[i][j]
print(s)

1
5
9
5
20

# sum of digonal right to left

In [80]:
lst = [[1, 2, 3, 4], 
       [4 ,5 ,6, 5],
       [7 ,8 ,9, 3],
       [7 ,4 ,3, 5]]
s=0

for i in range(len(lst)):
    for j  in range (len(lst)):
        if i + j ==len(lst)-1:
            print(lst[i][j])
            s +=lst[i][j]
print(s)

4
6
8
7
25

In [5]:
marks = [45, 67, 89, 32, 76]
for i in range(len(marks)):
    if marks[i] < 40:
        print("Failed in subject", i, "with marks", marks[i])

Failed in subject 3 with marks 32

In [11]:
matrix = [
    [1, 2, 3],   # Row 0
    [4, 5, 6],   # Row 1
    [7, 8, 9]    # Row 2
]
s = 0
for i in range(len(matrix)):
    for j in range(len(matrix[i])):
        if i == j:
            print(matrix[i][j])
            s += matrix[i][j]
        
print(s)

1
5
9
15

In [13]:
# print the last column

matrix = [
    [1, 2, 3],   # Row 0   [0][2]
    [4, 5, 6],   # Row 1   [1][2]
    [7, 8, 9]    # Row 2   [2][2] 
]
for i in range(len(matrix)):  
    print(matrix[i][2])

3
6
9

In [15]:
#print first column only
matrix = [
    [10, 20, 30],
    [40, 50, 60],
    [70, 80, 90]
]
for i in range(len(matrix)):
    print(matrix[i][0])

10
40
70

In [17]:
#Print the middle column only
matrix = [
    [10, 20, 30],
    [40, 50, 60],
    [70, 80, 90]
]
for i in range(len(matrix)):
    print(matrix[i][1])

20
50
80

In [25]:
matrix = [
    [10, 20, 30],
    [40, 50, 60],
    [70, 80, 90]
]
s=0
for i in range(len(matrix)):
    print(matrix[i][2])
    s+=matrix[i][2]
print(s)

30
60
90
180

In [31]:

#Write a loop to print only the elements in the first row, one by one.
lst = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]


for j in range(len(lst[0])):
    print(lst[0][j])

1
2
3

# print the sum of both the digonals

In [55]:
lst = [[1, 2, 3, 4], #[0][3]
       [4 ,5 ,6, 5], #[1][2]
       [7 ,8 ,9, 3], #[2][1]
       [7 ,4 ,3, 5]] #[3][0]

s1= 0
s2= 0
for i in range(len(lst)):
    for j  in range (len(lst)):
        if i == j:
            s1 +=lst[i][j]
        if i + j ==len(lst)-1:
             s2 +=lst[i][j]    
print(s1)
         
print(s2) 
print(s1+s2)

20
25
45

# Update values in list

In [19]:
lst= [1,23,3,4,5,6]
lst[1]= 2
print(lst)

[1, 2, 3, 4, 5, 6]

# Dictionary

In [16]:
dct = {1:'Utkarsh', 2:'Manish', 3:'Rajan', 4:'Khushi'}

print(dct)

print(dct.keys())
print(dct.values())

{1: 'Utkarsh', 2: 'Manish', 3: 'Rajan', 4: 'Khushi'}
dict_keys([1, 2, 3, 4])
dict_values(['Utkarsh', 'Manish', 'Rajan', 'Khushi'])

In [15]:
dct = {11602259:{'name':'Utkarsh','marks':{'hindi': 51, 'english': 54}},
       11602260:{'name':'Khushi'},
       11602261:{'name':'Rajan'},
       11602262:{'name':'Manish'}}

# print(dct)

# print(dct.keys())
# print(dct.values())

print (dct[11602259]['name'])
print (dct[11602259]['marks']['hindi'])

Utkarsh
51

In [44]:
dct = {'P': 1, 'B':2, 'C':3}
print(dct)

{'P': 1, 'B': 2, 'C': 3}

In [26]:
# Delete  Dictionary
dct = {'A': 1, 'B':2, 'C':3}
del dct['A']

print(dct)

{'B': 2, 'C': 3}

In [28]:
# Update Value
dct = {'A': 1, 'B':2, 'C':3}
dct['A'] = 9

print(dct)

{'A': 9, 'B': 2, 'C': 3}

In [42]:
# how to change the key  'A': 1 ------> 'D': 1
dct = {'A': 1, 'B':2, 'C':3}
dct['D'] = dct['A']
del dct['A']
print(dct)

{'B': 2, 'C': 3, 'D': 1}

In [64]:
students = {
    "5001": {
        "Name": "Utkarsh Anand",
        "Age": 17,
        "Class": 12,
        "Subjects": {
            "Mathematics": 95,
            "Physics": 91,
            "Chemistry": 89,
            "English": 88,
            "Computer Science": 94
        }
    },
    "5002": {
        "Name": "Khushi Agarwal",
        "Age": 17,
        "Class": 12,
        "Subjects": {
            "Mathematics": 87,
            "Physics": 90,
            "Chemistry": 85,
            "English": 86,
            "Computer Science": 89
        }
    },
    "5003": {
        "Name": "Rajan Mehra",
        "Age": 18,
        "Class": 12,
        "Subjects": {
            "Mathematics": 78,
            "Physics": 75,
            "Chemistry": 72,
            "English": 80,
            "Computer Science": 76
        }
    },
    "5004": {
        "Name": "Manish Yadav",
        "Age": 17,
        "Class": 12,
        "Subjects": {
            "Mathematics": 92,
            "Physics": 89,
            "Chemistry": 90,
            "English": 87,
            "Computer Science": 93
        }
    },
    "5005": {
        "Name": "Nikita Verma",
        "Age": 18,
        "Class": 12,
        "Subjects": {
            "Mathematics": 85,
            "Physics": 83,
            "Chemistry": 84,
            "English": 82,
            "Computer Science": 88
        }
    },
    "5006": {
        "Name": "Sneha Jain",
        "Age": 17,
        "Class": 12,
        "Subjects": {
            "Mathematics": 90,
            "Physics": 93,
            "Chemistry": 88,
            "English": 85,
            "Computer Science": 92
        }
    },
    "5007": {
        "Name": "Anuj Singh",
        "Age": 17,
        "Class": 12,
        "Subjects": {
            "Mathematics": 72,
            "Physics": 70,
            "Chemistry": 69,
            "English": 74,
            "Computer Science": 71
        }
    },
    "5008": {
        "Name": "Priya Das",
        "Age": 18,
        "Class": 12,
        "Subjects": {
            "Mathematics": 81,
            "Physics": 79,
            "Chemistry": 80,
            "English": 83,
            "Computer Science": 85
        }
    },
    "5009": {
        "Name": "Aman Gupta",
        "Age": 17,
        "Class": 12,
        "Subjects": {
            "Mathematics": 66,
            "Physics": 63,
            "Chemistry": 61,
            "English": 68,
            "Computer Science": 65
        }
    },
    "5010": {
        "Name": "Yash Srivastava",
        "Age": 18,
        "Class": 12,
        "Subjects": {
            "Mathematics": 88,
            "Physics": 85,
            "Chemistry": 84,
            "English": 87,
            "Computer Science": 86
        }
    }
}
#print(students)
#print(students.keys())

for reg_no in students.keys():
    print('Reg_No : ', reg_no)
    print('Name   : ',students[reg_no]['Name'])
    print('Age    : ',students[reg_no]['Age'])
    
    print('*'*20)
    print('')

Reg_No :  5001
Name   :  Utkarsh Anand
Age    :  17
********************

Reg_No :  5002
Name   :  Khushi Agarwal
Age    :  17
********************

Reg_No :  5003
Name   :  Rajan Mehra
Age    :  18
********************

Reg_No :  5004
Name   :  Manish Yadav
Age    :  17
********************

Reg_No :  5005
Name   :  Nikita Verma
Age    :  18
********************

Reg_No :  5006
Name   :  Sneha Jain
Age    :  17
********************

Reg_No :  5007
Name   :  Anuj Singh
Age    :  17
********************

Reg_No :  5008
Name   :  Priya Das
Age    :  18
********************

Reg_No :  5009
Name   :  Aman Gupta
Age    :  17
********************

Reg_No :  5010
Name   :  Yash Srivastava
Age    :  18
********************

In [126]:
for reg_no in students.keys():
    print('Reg_No   : ', reg_no)
    print('Name     : ',students[reg_no]['Name'])
    print('Age      : ',students[reg_no]['Age'])
    print('Total    : ',students[reg_no]['total_marks'])
    print('Average  : ',students[reg_no]['average_marks'])

    total_marks = sum(students[reg_no]['Subjects'].values())
    average_marks=  sum(students[reg_no]['Subjects'].values()) / len(students[reg_no]['Subjects'].values())

    students[reg_no]['total_marks'] = total_marks
    students[reg_no]['average_marks'] = average_marks
    print('*'*20)
    print('')

Reg_No   :  5001
Name     :  Utkarsh Anand
Age      :  17
Total    :  457
Average  :  91.4
********************

Reg_No   :  5002
Name     :  Khushi Agarwal
Age      :  17
Total    :  437
Average  :  87.4
********************

Reg_No   :  5003
Name     :  Rajan Mehra
Age      :  18
Total    :  381
Average  :  76.2
********************

Reg_No   :  5004
Name     :  Manish Yadav
Age      :  17
Total    :  451
Average  :  90.2
********************

Reg_No   :  5005
Name     :  Nikita Verma
Age      :  18
Total    :  422
Average  :  84.4
********************

Reg_No   :  5006
Name     :  Sneha Jain
Age      :  17
Total    :  448
Average  :  89.6
********************

Reg_No   :  5007
Name     :  Anuj Singh
Age      :  17
Total    :  356
Average  :  71.2
********************

Reg_No   :  5008
Name     :  Priya Das
Age      :  18
Total    :  408
Average  :  81.6
********************

Reg_No   :  5009
Name     :  Aman Gupta
Age      :  17
Total    :  323
Average  :  64.6
********************

Reg_No   :  5010
Name     :  Yash Srivastava
Age      :  18
Total    :  430
Average  :  86.0
********************